.footer {
  padding-bottom: 65px;
  &__wrapper {
  }

  &__nav {
    & > * {
      color: $main-text-color;
      font: $main-font;
    }
    display: flex;
    align-items: center;

    & a {
      flex: 1 1 auto;
      &:hover {
        text-decoration: underline;
      }
    }
    gap: 38px;
  }
}
@media (max-width: 598px) {
  .footer {
    & a {
      display: none;
    }
    &__nav {
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;
    }
  }
}
